language: go


go:
  - master


install:
  - go get -u -v github.com/spf13/hugo


script:
  - hugo


deploy:
  - provider: pages
    github_token: ${GITHUB_TOKEN}
    local_dir: public
    skip_cleanup: true
    target_branch: master
    on:
      branch: hugo

